body {    
    width:100%;        
    background-color: #837beb;
    margin: 0px;
    overflow: hidden;
}  

#familygraphics_circle {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

#overfamily {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.canvas { position: absolute; left: 50%; }

.slide {
    position: relative;
}

.containerfamily 
 {   
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index:1;
  }

.container_family 
 { 
        position: relative;
        z-index:2;
        
 }

.Absolute-Center-fur {
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
#containerfur 
 { 
      width:100%;
      max-width: 1293px;
      margin:0 auto;
      display: flex;
      align-items: center;
       height:100%;
}

